{% extends "base.html" %}
{% block pagetitle %}Template login{% endblock %}

{% block fullpage %}
    <form class="form-signin" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <h2>Log in</h2>
                <input id="id_username" class="form-control" maxlength="254" name="username" type="text" placeholder="Email address">
                <input id="id_password" class="form-control" name="password" type="password" placeholder="Password">
            </div>
        </div>
        <div class="row">
            <span class="col-md-12 col-sm-12 col-xs-12"><button id="login-button" class="btn btn-lg btn-default btn-block" type="submit">Login</button></span>
        </div>
    </form>
{% endblock %}
